body {
  font-family: 'Arial', sans-serif;
  background-color: #c8edb3;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 0;
}

.App-container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Added to position the fixed header and footer */
}

.App {
  padding: 60px 20px 60px 20px; /* Added padding to prevent overlap with fixed header and footer */
}

.add-container {
  margin-top: 20px;
}

/* List styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px 10px;
  margin-bottom: 10px;
  background-color: #f4ffde;
  border: 1px solid #92db6b;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  background-color: #283be7;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f50f0f;
}

input[type="checkbox"] {
  margin-right: 20px;
}
