
header {
  background-color: #4c4faf;
  color: white;
  padding: 1rem;
  text-align: center;
}


main {
  flex: 1;
  padding: 1rem;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #54af4c;
  color: white;
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
