
header {
  background-color: #4c4faf;
  color: white;
  padding: 1rem;
  text-align: center;
}
main{
  padding: 1rem;
  text-align: center;
}
footer {
  background-color: #54af4c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Push footer to bottom */
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
