.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid #0056b3;
    font-family: 'Patrick Hand', cursive;
  }
  
  .footer-text {
    font-size: 18px;
    margin: 5px 0;
  }

  .head-text {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    color: #444;
  }
  
  .head-text::before,
  .head-text::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: #007bff;
    margin: 5px auto;
  }
  
  .head-text::before {
    margin-bottom: 5px;
  }
  